.center {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
  text-align: center;
}

.subtitle {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  text-align: center;
}

.description {
  color: #ced4da;
  margin-bottom: 2rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
  margin-right: 15px;
}

label {
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: block;
  text-align: left;
  margin-left: 11px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: black;
  height: 40px;
}

.remember-forgot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.forgot-password {
  margin: 0;
  text-align: right;
  font-size: 0.875rem;
  color: #6c757d;
  cursor: pointer;
}
