/* Base styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
.center {
  justify-content: center;
}

.rememberMe {
  margin-top: 7px;
}

a {
  text-decoration: none;
  color: black;
}

.login-form {
  padding: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-align: center;
}

p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
  margin-right: 15px;
}

label {
  font-weight: 500;
  margin-bottom: 0.5rem;
  display: block;
  text-align: left;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-theme {
  background-color: #222529;
  color: #f5f5f5;
  padding: 0.75rem;
  width: 100%;
  border-radius: 999px;
  border: none;
  font-weight: 500;
  transition: background-color 0.25s;
  cursor: pointer;
  margin-top: 2rem;
  margin-left: 10px;
}

.btn-theme:hover {
  background-color: #222529;
  color: #f5f5f5;
}

.signup-link {
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 1.5rem;
}

.signup-link a {
  color: #ff7373;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

/* Media queries */
@media (min-width: 576px) {
  /* Apply styles for screens wider than 576px */
  .login-form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  .form-group label {
    margin-bottom: 0.5rem;
  }
  .form-control {
    width: 100%;
  }
  .btn-theme {
    margin-top: 2rem;
  }
  .signup-link {
    margin-top: 2rem;
    text-align: center;
  }
}
@media (min-width: 992px) {
  /* Apply styles for screens wider than 992px */
  .login-form {
    max-width: 600px;
  }
  h2,
  p {
    text-align: center;
  }
  .form-control {
    font-size: 1.25rem;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  .remember-me {
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  .remember-me label {
    margin-bottom: 0;
    margin-right: 1rem;
  }
  .forgot-password {
    margin-top: 1rem;
    text-align: right;
  }
  .btn-theme {
    background-color: #222529;
    color: #f5f5f5;
    margin-top: 2rem;
    width: 100%;
    padding: 0.75rem 2rem;
  }
}